<html>
	<head>
		<title>{{pageData["appname"]}}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>

		<!-- Header Title -->
		<h1><img src="{{ url_for('static', filename='images/robospreader.png') }}">{{pageData["appname"]}}</h1>

		<!-------------------------------- Working Page -------------------------------->
		<article id="working-page" class="card">

			<!-- Top row -->
			<section class="container">
				<section class="category working">
					<h2>Oh No!</h2>
					<row>
						<p>Unfortunately an error occured during processing</p>
					</row>
					<row>
						<a href="/">Click to start over</a>
					</row>
				</section>
			</section>

		</article>

	</body>
</html>
