<html lang="en">
	<head>
		<title>Status</title>
		<script src="{{ url_for('static', filename='scripts/status.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
	</head>
	<body>
		<h1>Database Status</h1>

		<!-------------------------------- Status -------------------------------->
		<article id="choose-page" class="card">
			<section class="container">
				<section class="category">
					<h1>Tables</h1>
					{% for table in tables %}
						<table>
							<thead>
								<tr><th colspan="100%" style="text-align: left;">{{table["name"]}}</th></tr>
								{% for row in table["rows"] %}
								{% if loop.index0 == 0 %}
								<tr>
									{% for field in row %}
									<th>{{field}}</th>
									{% endfor %}
								</tr>
								{% endif %}
							</thead>
							<tr>
								{% for field, value in row.items() %}
								<td>{{value}}</td>&nbsp;
								{% endfor %}
								<td>
									<a onclick="onDeleteRow('{{row['id']}}')">Delete</a>
								</td>
							</tr>
						{% endfor %}
						</table>
					{% endfor %}
				</section>
			</section>
		</article>
		
	</body>
</html>
