<html lang="en">
	<head>
		<title>Document Extraction Validation Test</title>
		<script src="{{ url_for('static', filename='scripts/test.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
	</head>
	<body>

		<!-- Header Title -->
		<h1><img src="{{ url_for('static', filename='images/robospreader.png') }}">Document Extraction Validation Test</h1>

		<!-------------------------------- Intro -------------------------------->
		<article id="validation-test-1" class="card">
			<section class="container">
				<section class="category">
					<h2>{% block title %}Welcome{% endblock %}</h2>
					<p>Thank you for participating in this validation test!</p>
					<p>There are two distinct parts to this test:</p>
					<ol>
						<li>Manual Transcription</li>
						<li>Automatic Transcription</li>
					</ol>
					<p>In the <strong>Manual Transcription Test</strong> you will be required to copy numbers into the fields provided.</p>
					<p>In the <strong>Automatic Transcription Test</strong> you will validate that the fields contain correct numbers.</p>
					<p>Try to complete each test as quickly as you can.</p>
					<br>
					<p>Click <strong>Next</strong> for additional instructions.</p>
				</section>
			</section>

			<!-- Bottom row -->
			<footer class="solo">
				<button id="button-next" type="button" onclick="updatePageState(2)">Next</button>
			</footer>
		</article>

		<!-------------------------------- Manual Intro -------------------------------->
		<article id="validation-test-2" class="card" hidden="true">
			<form method="POST" enctype="multipart/form-data">

				<!-- Top row -->
				<section class="container">
					<section class="category half">
						<h2>1. Manual Transcription Test</h2>
						<h3>Description</h3>
						<p>In this timed test you will be presented with a financial statement.</p>
						<p>Your task is to:</p>
						<ol>
							<li>Copy the values from all matching line items to their appropriate fields.</li>
							<li>Click Done when all the fields have been filled in.</li>
						</ol>
						<p>Click <strong>Start the Test</strong> when ready.</p>
					</section>

					<!-- Demo Video -->
					<section class="category half">
						<h3>Demonstration</h3>
						<video width="100%" controls>
							<source src="/static/videos/instructions-manual.mp4" type="video/mp4">
						</video>
					</section>
				</section>

				<!-- Bottom row -->
				<footer class="solo">
					<button id="button-next" type="button" onclick="startTest(1, 3)">Start the Test</button>
				</footer>
			</form>
		</article>

		<!-------------------------------- Manual Test -------------------------------->
		<article id="validation-test-3" class="card" hidden="true">

			<!-- Top row -->
			<section class="container">
				<section class="category">
					<h2>1. Manual Transcription Test</h2>
					<p>Your task is to:</p>
					<ol>
						<li>Copy the values from all matching line items to their appropriate fields.</li>
						<li>Click Done when all the fields have been filled in.</li>
					</ol>
				</section>
			</section>

			<!-- Content Row -->
			<section class="container">

				<!-- Financial Statement -->
				<section class="category threequarter">
					<row class="centered">
						<image src="{{ url_for('static', filename='images/test/financial-statement.png') }}" class="image-fit">
					</row>
				</section>

				<!-- Validation Fields -->
				<section class="category onequarter">
					<row class="centered">
						<section id="validation-content-1">
							{% for row in test1_data %}
							<row id="row-{{row['id']}}" class="validation-row">
								<span class='line-item-label test'>{{row["name"]}}</span>
								<input class="test" type="number" value="">
							</row>
							{% endfor %}
						</section>
					</row>
				</section>
			</section>

			<!-- Bottom row -->
			<footer class="solo">
				<button id="button-next" type="button" onclick="endTest(1, 4)">Done</button>
				<form id="test-form-1" method="POST">
					<input id="test-number" name="test-number" type="hidden" value="1">
					<input id="test-start-time" name="test-start-time" type="hidden" value="">
				</form>
			</footer>
		</article>

		<!-------------------------------- Automatic Intro -------------------------------->
		<article id="validation-test-4" class="card" hidden="true">
			<form method="POST" enctype="multipart/form-data">

				<!-- Top row -->
				<section class="container">
					<section class="category half">
						<h2>2. Automatic Transcription Test</h2>
						<h3>Description</h3>
						<p>
							In this timed test you the system has transcribed the values automatically for you. 
							You only have to fix any errors.
						</p>
						<p>Your task is to:</p>
						<ol>
							<li>Compare the <strong>Actual Values</strong> to the <strong>Transcribed Values</strong>.</li>
							<li>Fix any <strong>Transcribed Values</strong> that don't match.</li>
							<li>Click Done when all the fields have been validated.</li>
						</ol>
						<h3>Read Aloud Assistance</h3>
						<p>
							To help with validation, the system can read the Transcribed Values to you.
							<ol>
								<li>Click any Play <img src="/static/images/speaker.png" class="inline-icon"> button. The system will read the <strong>Transcribed Values</strong> for each row out loud.</li>
								<li>Compare the spoken value with the <strong>Actual Value</strong>.</li>
								<li>To make corrections, click anywhere on the page. The system will stop reading at the current row.</li>
								<li>You can resume the reading comparison by clicking the Play <img src="/static/images/speaker.png" class="inline-icon"> button at any desired row.</li>
							</ol>
						</p>
						<p>Click <strong>Start the Test</strong> when ready.</p>
					</section>

					<!-- Demo Video -->
					<section class="category half">
						<h3>Demonstration</h3>
						<video width="100%" controls>
							<source src="/static/videos/instructions-automatic.mp4" type="video/mp4">
						</video>
					</section>
				</section>

			<!-- Bottom row -->
			<footer class="solo">
				<button id="button-next" type="button" onclick="startTest(2, 5)">Start the Test</button>
			</footer>
			</form>
		</article>
		
		<!-------------------------------- Automatic Test -------------------------------->
		<article id="validation-test-5" class="card" hidden="true">

				<!-- Top row -->
				<section class="container">
					<section class="category">
						<h2>2. Automatic Transcription Test</h2>
						<p>Your task is to:</p>
						<ol>
							<li>Compare the <strong>Actual Values</strong> to the <strong>Transcribed Values</strong>.</li>
							<li>Fix any <strong>Transcribed Values</strong> that don't match.</li>
							<li>Click Done when all the fields have been validated.</li>
						</ol>
						<p>
							If you would like the system to read the Transcribed Values to you, then click this button: 
							<button class="image-button" onclick="playAudio({{test2_data[0]['id']}})"><img src="/static/images/speaker.png"></button>
						</p>
					</section>
				</section>

				<!-- Content Row -->
				<section class="container">

					<!-- Validation Fields -->
					<section class="category">
						<row class="centered">
							<section id="validation-content-2">
								<table>
									{% for row in test2_data %}
									{% if loop.index0 == 0 %}
									<thead>
										<tr>
											<th>Line Item</th>
											<th>Actual Value</th>
											<th>&nbsp;</th>
											<th>Transcribed Value</th>
										</tr>
									</thead>
									{% endif %}
									<tr id="row-{{row['id']}}" class="validation-row" data-id="{{row['id']}}">
										<td>
											<span class="line-item-label test">{{row["name"]}}</span>
										</td>
										<td>
											<img id="cell-image-{{row['id']}}" src="/static/images/test/cell-image-{{row['id']}}.png" class="cell-image">
										</td>
										<td>
											<button id="btn-play" type="button" title="Read from here" onclick="playAudio({{row['id']}})" {{ "" if row["audio"] else "disabled" }}><img src="/static/images/speaker.png"></button>
											<audio id="audio-{{row['id']}}" autobuffer="autobuffer" src="{{row['audio']}}"></audio>
										</td>
										<td>
											<input class="test" type="number" value="{{row['extracted_value']}}" onchange="onValueChanged(this)">
										</td>
									</tr>
									{% endfor %}
								</table>
							</section>
						</row>
					</section>
				</section>

				<!-- Bottom row -->
				<footer class="solo">
					<button id="button-next" type="button" onclick="endTest(2, 6)">Done</button>
					<form id="test-form-2" method="POST" enctype="multipart/form-data">
						<input id="test-id" name="test-id" type="hidden" value="">
						<input id="test-number" name="test-number" type="hidden" value="2">
						<input id="test-start-time" name="test-start-time" type="hidden" value="">
					</form>
				</footer>
		</article>

		<!-------------------------------- End -------------------------------->
		<article id="validation-test-6" class="card" hidden="true">
			<form method="POST" enctype="multipart/form-data">

				<!-- Top row -->
				<section class="container">
					<section class="category">
						<h2>All Done!</h2>
						<p>Thanks for taking the time to participate in this study! Your contribution is greatly appreciated.</p>
						<p>You can close this tab/window now.</p>
					</section>
				</section>

			</form>
		</article>

	</body>
</html>
