/*
	Common Styles
*/
a:link {
	color: unset;
}
a:visited {
	color: unset;
	text-decoration: none;
}
a:hover {
	color: orange;
}
a h1:hover {
	color: orange;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */
button {
	border-radius: 0.2rem;
	border: 1px solid gray;
	height: 2rem;
	margin: 0 0.5rem 0 0.5rem;
	padding: 0.4rem 2rem 0.4rem 2rem;
}
button:hover:not(:disabled) {
	border-radius: 0.2rem;
	border: 1px solid orange;
	transform: scale(1.07);
}
button:disabled {
	border: 1px solid #bbb;
}

/* Image button class */
.image-button {
	height: 2.3em;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	width: 4em;
}
.image-button img {
	height: 1.5rem;
	width: 1.5rem;
}

/* Category sections */
.category {
	border: 1px solid #a0a0a0;
	border-radius: 0.5rem;
	box-shadow: 4px 4px 3px #aaa5;
	margin: 0.3rem 0.3rem 0.8rem 0.3rem;
	padding: 0.8rem;
	width: 100%;
}

/* Cell image */
.cell-image {
	border: 1px solid gray;
	z-index: 10;
}

/* Style for centered elements */
.centered {
	justify-content: center;
}

/* Content container */
.container {
	display: flex;
	padding: 0.6rem;
}

/* Container for file information fields */
fieldset {
	border: 1px solid #ddd;
	margin: 1rem 0 1rem 0;
}

/* Filename field */
#file-name {
	width: 80%;
}

/* Footer containing navigation buttons */
footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
footer.solo {
	justify-content: end;
}

/* Main title */
h1 {
	background-color: gray;
	border-radius: 0.3rem 0.3rem 0 0;
	color: white;
	margin: 0;
	padding: 0.5rem 1rem 0.5rem 1rem;
}
h1 img {
	padding-right: 1rem;
	width: 3rem;
	vertical-align: middle;
}

/* Secondary title */
h2 {
	margin: 0;
}

/* Split screen card modifiers */
.half {
	width: 48%;
}
.onequarter {
	width: 36%;
}
.threequarter {
	width: 60%;
}

/* Header labels for validation rows */
.header-label {
	font-weight: bold;
	margin-right: 3.7rem;
	text-align: right;
	width: 10rem;
}

/* Fit an image */
.image-fit {
	width: 100%;
}

/* Icons inline with text */
.inline-icon {
	background-color: #eee;
	border: 1px solid gray;
	border-radius: 0.2rem;
	width: 1.5rem;
	vertical-align: bottom;
}

/* Labels */
label {
	font-weight: bold;
	padding-right: 0.52rem;
}

/*
	Remove arrow controls from number fields
	https://stackoverflow.com/questions/71296535/how-to-remove-arrow-on-input-type-number-with-tailwind-css
*/
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* List items */
li {
	margin-bottom: 0.5rem;
}

/* Labels for statement line items */
.line-item-label {
	max-width: 24rem;
	width: 24rem;
}
.line-item-label.test {
	padding-left: 1rem;
	width: 100%;
}

/* Generic text */
p {
	font-family: sans-serif;
	line-height: 1.4;
	margin: 0.5rem 0 0.5rem 0;
}

/* Page number display */
#page-number {
	border: 1px solid gray;
	border-radius: 0.3rem;
	color: black;
	height: 2.4em;
	text-align: center;
	width: 3rem;
}
#page-number:disabled {
	border: 1px solid #bbb;
	color: #bbb;
}

/* Page display canvas */
#pdf-view {
	border: 1px solid gray;
	height: 400px;
	width: 300px;
}

/* Row container */
row {
	align-items: center;
	display: flex;
	margin: 0.6rem 0 0.6rem 0;
}

/* Table styling */
table, td, th {
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 0.2rem;
	text-align: right;
}

td {
	padding: 0.2rem 1rem 0.2rem 1rem;
}

th {
	font-size: 1.1em;
	padding: 0.5rem 1.4rem 0.3rem 1rem;
}

/* Table headings background shading */
thead {
	background-color: #ccc;
}

/* Alternating table row colors */
tr:nth-child(odd) {
	background-color: white;
}
tr:nth-child(even) {
	background-color: #e8f0ff;
}
tr:nth-child(1) {
	background: none;
}

/* Validation row controls */
.validation-row {
	background-color: #d8d8d8;
	padding: 0.3rem 0.5rem 0.3rem 0.3rem;
}
.validation-row button {
	height: 2.3em;
	padding: 0;
	width: 2.3em;
}
.validation-row button img {
	height: 1.5rem;
	width: 1.5rem;
}
.validation-row #btn-delete {
	margin-left: 2rem;
}
.validation-row input.test {
	height: 2rem;
	text-align: right;
	transition: background-color 1s;
	width: 7rem;
}
.validation-row label {
	align-items: center;
	background-color: #ddd;
	display: flex;
	height: 1.5em;
	margin: 0 0.5rem 0 0.5rem;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	width: 20rem;
}

/* Embedded videos */
video {
	margin-bottom: 2rem;
}

/* Working page card */
.working {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 2em;
	justify-content: center;
	height: 30rem;
}

/* Processing animated icon */
.working img {
	width: 15rem;
}